<nav>
    <div class="nav-wrapper light-green lighten-2">
        <a href="#" class="brand-logo center">SaludVentas</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

        </ul>
    </div>
</nav>

<div class="row">
    <form class="col s12"  #empresaForm="ngForm" (ngSubmit)="guardar(empresaForm)">
             <div class="row">
                <div class="input-field col s6">
                    <input id="razon_social"  name="razon_social" type="text" class="validate" ngModel>
                    <label for="razon_social">Razon social</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="nit" name="nit" type="text" class="validate" ngModel>
                    <label for="nit">NIT</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="direccion" name="direccion" type="text" class="validate" ngModel>
                    <label for="direccion">Dirección</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="pais" name="pais" type="text" class="validate" ngModel>
                    <label for="pais">Pais</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="departamento"  name="departamento" type="text" class="validate" ngModel>
                    <label for="departamento">Departamento</label>
                </div>
            </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="ciudad"  name="ciudad" type="text" class="validate" ngModel>
                <label for="ciudad">Ciudad</label>
            </div>
        </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="categoria"  name="categoria" type="text" class="validate" ngModel>
                    <label for="categoria">Categoria de la empresa</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="telefono" name="telefono" type="text" class="validate" ngModel>
                    <label for="telefono">Teléfono fijo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="fax" name="fax" type="text" class="validate" ngModel>
                    <label for="fax">Fax</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="celular"  name="celular" type="text" class="validate" ngModel>
                    <label for="celular">Celular</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="correo"  name="correo" type="text" class="validate" ngModel>
                    <label for="correo">Correo electrónico</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="fuente"  name="fuente" type="text" class="validate" ngModel>
                    <label for="fuente">Como se entero de SaludVentas</label>
                </div>
            </div>
        <div class="row">
            <div class="input-field col s6">
                <button  type="submit" class="waves-effect waves-light btn-large">Guardar</button>
            </div>
        </div>

    </form>
</div>